body {
  background-image: url('3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


.button {
  width: fit-content;
  display: flex;
  padding: 1.2em 1rem;
  cursor: pointer;
  gap: 0.4rem;
  font-weight: bold;
  border-radius: 30px;
  text-shadow: 2px 2px 3px rgb(136 0 136 / 50%);
  background: linear-gradient(15deg, #880088, #aa2068, #cc3f47, #de6f3d, #f09f33, #de6f3d, #cc3f47, #aa2068, #880088) no-repeat;
  background-size: 300%;
  color: #fff;
  border: none;
  background-position: left center;
  box-shadow: 0 30px 10px -20px rgba(0,0,0,.2);
  transition: background .3s ease;
}

.button:hover {
  background-size: 320%;
  background-position: right center;
}

.button:hover svg {
  fill: #fff;
}

.button svg {
  width: 23px;
  fill: #f09f33;
  transition: .3s ease;
}

.lol{
    height: 150px;
    width: 150px;
    position:relative;
    left: -150px;
    top: 290px;
}
.lil{
    background-color: rgb(33, 32, 32);
    height: 190px;
    width: 100px;
    border-radius: 20px;
    margin: -160px 820px 820px;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 9px 10px 5px 5px; 
    
}
.lal{
    width: 55px;
    height: 55px;
    background-color: darkred;
    border-radius: 1000px;
    margin-bottom: 10px;
    border: solid 1px grey;
}
.lel{
    width: 55px;
    height: 55px;
    background-color: olive;
    border-radius: 1000px;
    margin-bottom: 10px;
    border: solid 1px grey;
}
.lul{
    width: 55px;
    height: 55px;
    background-color: darkgreen;
    border-radius: 1000px;
    margin-bottom: 10px;
    border: solid 1px grey;
}
.lal.prendida{
    background-color: red;
    box-shadow: 0 0 15px 4px red;
}
.lel.prendida{
    background-color: yellow;
    box-shadow: 0 0 15px 4px yellow;
}
.lul.prendida{
    background-color: green;
    box-shadow: 0 0 15px 4px green;
}